<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form Page</title>
</head>
<body>

<h3>Erlenmeyer/Neck Example Login Page</h3>

<p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</p>
<form action="/check_credentials" method="post" id="login" name="login">


            <div class="row" style="margin-top: 0; margin-bottom: 0; margin-left: 20px; padding-bottom: 0; padding-top: 0;"
                ><label for="username">User Email </label
                ><input type="text" id="username" name="user_id" value="" style="width: 330px"
            ></div
            ><div class="row" style="margin-top: 0; margin-bottom: 0; margin-left: 20px; padding-bottom: 0; padding-top: 0;"
                ><label for="password">Password </label
                ><input type="password" id="password" name="password" style="width: 330px" value=""
            ></div
            ><div class="row" style="margin-top: 0; margin-bottom: 0; margin-left: 20px; padding-bottom: 0; padding-top: 0;"
               ><input type="submit" value="Sign In"
            ></div
        ></form>

</body>
</html>
